include ../modules/post.jade

section.center
  form.center__top
    input(type="text", placeholder="Message").center__top__input
    button.center__top__btn
      i(class="fas fa-camera")
  .center__content
    +post("assets/img/user1.png", "User Logo", "Dave Gamache", "4 min", "Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit voluptatum necessitatibus assumenda saepe magni totam, eligendi illum debitis amet soluta ad et similique! Aperiam nostrum excepturi vitae, sit fugiat praesentium!", "false", "true", "false")
    +post("assets/img/user2.png", "User Logo", "Jacob Thornton", "12 min", "Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit voluptatum necessitatibus assumenda saepe magni totam, eligendi illum debitis amet soluta ad et similique! Aperiam nostrum excepturi vitae, sit fugiat praesentium!", "true", "true", "true")
    +post("assets/img/user3.png", "User Logo", "Mark Otto", "34 min", "Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit voluptatum necessitatibus assumenda saepe magni totam, eligendi illum debitis amet soluta ad et similique! Aperiam nostrum excepturi vitae, sit fugiat praesentium!", "true")
