include ../modules/post.jade

section.center
  form.center__top
    input(type="text", placeholder="Message").center__top__input
    button.center__top__btn
      i(class="fas fa-camera")
  .center__content
    .center__content__post
      .center__content__avatar-wrapper
